.btn {
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #0c5bc6;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    // SET BORDER
    border: 1px solid #0c5bc6;
    border-radius: 0.5rem;

    &:hover {
        color: #0c5bc6;
    }
}

.secondary {
    display: flex;
    padding: 1.5625rem 2.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: none;
    border-radius: 2.4375rem;
    background: rgba(65, 146, 255, 0.3);
}

.filled {
    height: 100%;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;

    border: none;
    outline: none;

    background-color: #0c5bc6;
    border-radius: 1rem;

    &:hover {
        color: #fff;
        background-color: #0f66e1;
    }
}
