.btn {
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #0c5bc6;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    // SET BORDER
    border: 1px solid #0c5bc6;
    border-radius: 0.5rem;

    &:hover {
        color: #0c5bc6;
    }
}
