.card {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: #fff;

    .image {
        height: 20rem;
        min-width: 20rem;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .content {
        max-width: 24rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;

        .title {
            text-align: left;
        }

        .desc {
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 400;
            text-align: left !important;
        }
    }
}

.reverse {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
}
