.advantages {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;

    .button {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 4rem;
    }

    .body {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;

        // HIDE SCROLL OF OPTION ROW
        .option_row::-webkit-scrollbar {
            display: none;
        }

        .option_row {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;
            margin: 1rem;
            overflow-x: scroll;
        }
    }

    .compare {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin: 4rem;
        position: relative;

        .person {
            position: absolute;
            top: 50%;
            left: 54%;
        }

        .with,
        .without {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
            height: 30rem;
            width: 26rem;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .advantages {
        .body {
            .option_row {
                gap: 0.5rem;
            }
        }

        .compare {
            padding: 4rem;
            .with,
            .without {
                height: 20rem;
                width: 20rem;
            }
        }
    }
}
