.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .number {
        margin: 3.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
            color: #242331;
            text-align: center;
            font-size: 2.25rem;
            font-style: normal;
            font-weight: 600;
            line-height: 125%;
        }
    }

    h2 {
        color: #332c5c;
        margin: 0.8rem;
        text-align: center;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        text-transform: capitalize;
    }

    p {
        color: #5e587a;
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;
    }
}
